#Joao {
    color: orange;
    font-weight: bold;
}

label[name="RADIO-LABEL"] {
    font-size: 30PX;
}

.divider {
    /*(Isto e um comentario em css)
    border-top-style:solid ;
    border-top-color: blueviolet;
    border-top-width:1px ;*/
    border-top: 1px blueviolet solid;
    margin: 0px;
    height: 0.1px;
    padding: 0px;
    outline: none;
}

.background {
    background-image: url(../images/Hollow.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    background-color: black;
}